:root{
	--white : #fff;
	--black : #000;
	--pink : #DE3C60;
	--lightPink : #DE3C6040;
}
.hospitals_wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
}

.main_wrapper {
	display: flex;
	flex-direction: column;
	width: calc(100% - 240px);
	overflow: hidden;
	overflow-y: scroll;
	background-color: #ffffff;
}

.navBar {
	padding: 15px 50px;
	/* padding-top: 25px; */

	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	/* background-color: rgba(183, 216, 240, 0.4); */
	background-color: var(--lightPink);
}

.user {
	font-size: 20px;
	font-weight: 500;
}

.connectButton {
	padding: 6px 30px;
	color: white;
	background-color: var(--pink);
	border: 0;
	border-radius: 20px;
	align-items: center;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

.content {
	padding: 20px;
}

.hospitals_search {
	margin:  20px auto;
}

.searchButton {
	margin-left: 100px;
	margin-top: 10px;
	padding: 6px 30px;
	color: white;
	background-color: var(--pink);
	border: 0;
	border-radius: 20px;
	align-items: center;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}


/* profile  */
.inforWrapper{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.profileContainer{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    box-shadow: 3px 3px 30px #dadbe4;
}
.profileRow{
    display: flex;
    justify-content: space-around;
    padding: 2px;
}

.title{
    min-width: 10em;
    /* background-color: #0087ca; */
    padding: 10px 12px;
}

.text{
    min-width: 30em;
    /* background-color: #4d00ca; */
    padding: 10px 12px;
    color: grey;
}

.horizontal{
    width: 95%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: grey; */
    margin-bottom: 5px;
}

.col{
    display: flex;
    flex-direction: column;
}